{% extends 'base.html.twig' %}

{% block title %}Voici nos chambres!{% endblock %}

{#{% block main %}#}
{#<style>#}
{#    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }#}
{#    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }#}
{#    #background-blue {background-color: #0c5460}#}
{#</style>#}

{#<div class="container">#}
{#    <h1> Voici les {{ nbrooms }} chambres disponibles </h1>#}
{#    <ul id="background-blue">#}
{#        {% for room in rooms %}#}
{#            <li> {{ room.description }}</li>#}
{#        {% endfor %}#}
{#    </ul>#}
{#</div>#}
{#{% endblock %}#}

{% block main %}
    <!-- Wrapper -->
			<div id="wrapper" class="container">


				<!-- Header -->
					<br>
					<header id="header">
						<h1 style="font-size: 50px"> Voici les chambres disponibles chez Plaid & Thé</h1>
					</header>



				<!-- Main -->
					<section id="main" class="row justify-content-center">

						<!-- Thumbnails -->
							<section class="thumbnails " >

								<div style="width: 400px">
									{% if is_granted('ROLE_OWNER') or is_granted('ROLE_DOUBLE') or is_granted('ROLE_SUPER_ADMIN') %}
									<a href="{{ path('room_new') }}">
										<button class="btn" style="color:white">New</button>
									</a>
									{% endif %}
									{% for room in rooms %}
									<a href="{{ path('room_show', {id:room.id}) }}">
										<img src="{{ vich_uploader_asset(room, 'imageFile') }}"/>
{#										<img src="{{ asset('images/thumbs/'~room.image) }}" alt="" />#}
										<h3 style="text-shadow: #1d2124">{{ room.description }}</h3>
									</a>
									{% endfor %}
								</div>

							</section>


					</section>




				<!-- Footer -->
					<footer id="footer">
						<p>&copy; Plaid&Thé. All rights reserved. Design: <a href="http://templated.co">TEMPLATED</a>.</p>
					</footer>


			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.poptrox.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/main.js"></script>

{% endblock %}