{% extends 'base.html.twig' %}

{% block title %}Room{% endblock %}

{% block body %}
    <h1>Room</h1>

    <div style="width: 400px">
        <a href="{{ path('reservation_show', {id:room.id}) }}">
            <button class="btn" style="color:white">Voir les indisponibilités de la chambre</button>
        </a>
    </div>
    <br>

    <table class="table">
        <tbody>
            <tr>
                <th>Image</th>
                <td><img src="{{ vich_uploader_asset(room, 'imageFile') }}"/></td>
            </tr>
            <tr>
                <th>Summary</th>
                <td>{{ room.summary }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ room.description }}</td>
            </tr>
            <tr>
                <th>Capacity</th>
                <td>{{ room.capacity }} personnes </td>
            </tr>
            <tr>
                <th>Superficy</th>
                <td>{{ room.superficy }} m²</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ room.price }} € la nuit</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ room.address }}</td>
            </tr>
            <tr>
{#                <img src="{{ asset('images/thumbs/'~room.image) }}" alt="" width="400"/>#}
            </tr>
            <tr>
                <th>Région</th>
                    {% for region in room.regions %}
                        <td>{{ region.name }}</td>
                    {% endfor %}
            </tr>

        </tbody>
    </table>
    {% if is_granted('ROLE_CLIENT') or is_granted('ROLE_DOUBLE') or is_granted('ROLE_SUPER_ADMIN') %}
        <a href="{{ path('comment_new', {'id':room.id}) }}">
            <button class="btn" style="color:white">Laissez un commentaire</button>
        </a>
    {% endif %}
    <br>

    {% if is_granted('ROLE_CLIENT') or is_granted('ROLE_DOUBLE') or is_granted('ROLE_SUPER_ADMIN') %}
        <a href="{{ path('comment_index', {'id':room.id}) }}">
            <button class="btn" style="color:white">Voir les commentaires de la chambre</button>
        </a>
    {% endif %}
    <br>

    {% if is_granted('ROLE_CLIENT') or is_granted('ROLE_DOUBLE') or is_granted('ROLE_SUPER_ADMIN') %}
        <a href="{{ path('reservation_new', {'id':room.id}) }}">
            <button class="btn" style="color:white">Réserver</button>
        </a>


    {% endif %}
    <br>
    <a href="{{ path('room_index') }}">back to list</a>
    <br>
    {% if is_granted('ROLE_OWNER') or is_granted('ROLE_SUPER_ADMIN') %}
        <a href="{{ path('room_edit', {'id': room.id}) }}">edit</a>


    {{ include('room/_delete_form.html.twig') }}
    {% endif %}
    <br>
{% endblock %}
