<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link href="{{ asset('/startbootstrap-shop-homepage-gh-pages/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
        <!-- Custom styles for this template -->
        <link href="{{ asset('/startbootstrap-shop-homepage-gh-pages/css/shop-homepage.css') }}" rel="stylesheet">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}" />
        {% endblock %}

    </head>
    <body>
    {% block menu %}
        <!-- Barre de menu -->
        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
            <a class="navbar-brand" href="#">Plaid & Thé</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                    aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" href="#">Menu</a>
                        <div class="dropdown-menu ">
                            <a class="dropdown-item" href="{{ path('room_index') }}">Rooms</a>
                            <a class="dropdown-item" href="{{ path('region_index') }}">Regions</a>
                            <a class="dropdown-item" href="{{ path('accueil') }}">Accueil</a>

                        </div>
                    </li>
                </ul><ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" href="#" >Connexion</a>
                        <div class="dropdown-menu right ">
                            <a class="dropdown-item" href="{{ path('app_register') }}">S'enregistrer</a>
                            <a class="dropdown-item" href="{{ path('app_login') }}">Se connecter</a>
                            <a class="dropdown-item" href="{{ path('app_logout') }}">Se déconnecter</a>

                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- Fin de la barre de menu-->
    {% endblock %} {# menu #}

    <div id="flashContainer" class="body-margins">
        <br>
        <br>
        <br>
        {# read and display several types of flash messages #}
        {% for label, messages in app.flashes(['success', 'warning', 'error']) %}
            {% for message in messages %}
                <div class="flash-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    </div>

    {% block body %}


    {% block main %}MAIN{% endblock %} {# main #}

	    {% endblock %} {# body #}

	{% block footer %}
	<div >
	</div>
	{% endblock %} {# footer #}
</body>
	{% block javascripts %}
        <!-- Bootstrap core JavaScript -->
<script src="{{ asset('/startbootstrap-shop-homepage-gh-pages/vendor/jquery/jquery.min.js') }}"></script>
<script src="{{ asset('/startbootstrap-shop-homepage-gh-pages/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
	{% endblock %} {# javascripts #}
	{% block custompage_script %}
    {% endblock %} {# custompage_scripts #}
</html>
